# Eixida de MkDocs
site/

# Entorns i artefactes de Python
.venv/
venv/
__pycache__/
*.py[cod]

# Fitxers locals
.DS_Store
.cache/

# Dependències i eixides de les presentacions Slidev
node_modules/
dist/
docs/presentacions/
